In [6]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn import linear_model

In [7]:
df=pd.read_csv('bhk_prices.csv')
df

   AREA  bedrooms  age  prices
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [20]:
import math
df_med=math.floor(df.bedrooms.mean())
df_med

3

In [14]:
df.bedrooms=df.bedrooms.fillna(df_med)
df

   AREA  bedrooms  age  prices
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [16]:
reg=linear_model.LinearRegression()
reg.fit(df[['AREA','bedrooms','age']],df.prices)

LinearRegression()

In [18]:
reg.predict([[3000,3,40]])

array([444400.])

In [19]:
reg.predict([[2500,4,5]])

array([588625.])