In [2]:
import pandas as pd
df=pd.read_csv('shivaweather.csv')
df

         date  temprature  windspeed weather
0  12-11-2021          21          3    cold
1  13-11-2021          34          4   rainy
2  14-11-2021          54          5     hot
3  15-11-2021          16          6    cold
4  16-11-2021          56          7     hot
5  17-11-2021          33          8   sunny
6  18-11-2021          45          9     hot
7  19-11-2021          23          3    cold
8  20-11-2021          43          4     hot

In [3]:
df['temprature'].max()

56

In [4]:
df['date'][df['weather']=='hot']

2    14-11-2021
4    16-11-2021
6    18-11-2021
8    20-11-2021
Name: date, dtype: object