In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('areas_prices.csv')
df

   areas  prices
0   2600  550000
1   3000  565000
2   3200  610000
3   3600  680000
4   4000  725000

In [5]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [11]:
model.fit(df[['areas']],df.prices)

LinearRegression()

In [12]:
import pickle

In [13]:
with open('Model_guess_prices','wb') as f:
    pickle.dump(model,f)

In [16]:
with open('Model_guess_prices','rb') as f:
    mps=pickle.load(f)

In [18]:
mps.predict([[5000]])

array([859554.79452055])

In [19]:
import joblib

In [21]:
joblib.dump(model,'joblib_model_guess')

['joblib_model_guess']

In [22]:
mj=joblib.load('joblib_model_guess')

In [24]:
mj.predict([[5000]])

array([859554.79452055])