In [1]:
import pandas as pd
df=pd.read_csv('medal.csv')
df

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

In [5]:
df['Gold'][df['Team/NOC']=='Great Britain']

3    22
Name: Gold, dtype: int64

In [6]:
df['Silver'].mean()

3.6344086021505375

In [7]:
df.fillna(0,inplace=True)

In [8]:
df['Silver'].mean()

3.6344086021505375